/* tsparticles styles */
#tsparticles {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Ensures particles are in the background */
}

/* Theme change styles */
#lightid {
  background-color: white;
  color: black;
}

/* Global text styles */
body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1.6;
}

/* Responsive font sizes */
@media (max-width: 768px) {
  body, p {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  /* ... other heading sizes ... */
}

@media (min-width: 769px) {
  body, p {
    font-size: 16px;
  }
  h1 {
    font-size: 32px;
  }
  /* ... other heading sizes ... */
}

/* Section container styles */
.section-container {
  padding: 20px;
  margin: 10px 0;
  /* Further styling if needed */
}
