.about_main {
  min-height: 150vh;
  width: 100%;
  background: rgb(0, 2, 49);
  background: linear-gradient(125deg, rgb(0, 21, 67) 0%, rgb(0, 0, 0) 60%);
  color: white;
  overflow: hidden;
}

.about_header {
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Cinzel", serif;
  padding-top: 2rem;
}

.about_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: auto;
  max-width: 80%;
}

.left {
  flex-shrink: 0;
  width: 40%;
}

.me {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 3px 5px;
}

.about_txt {
  flex-grow: 1;
  max-width: 60%;
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: "Roboto";
}

.download, #download_light {
  /* Style for the download button */
}

@media only screen and (max-width: 600px) {
  .about_content {
    flex-direction: column;
    max-width: 100%;
  }

  .left, .about_txt {
    width: 100%;
  }

  .me {
    width: 80vw;
    margin-bottom: 20px;
  }

  .download, #download_light {
    /* Adjustments for smaller screens */
  }

  .d_icon {
    /* Icon adjustments for smaller screens */
  }
}
